.Map {
  margin: 30px 0;
  padding: 30px 0;
}
.Map .mural-bg {
  position: relative;
  background-image: url("../../assets/img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Map .bg-main {
  background-color: #ebe8e8;
  /* opacity: 10%; */
}
.Map .sf_main_container {
  z-index: 1;
}
